<template>
    <div class="le_comps_core_css">
        <h4 class="le_page_name"><%= data.btn.tableTitle %></h4>
        <div class='le_list_search_pannel clearfix'>
            <%_ data.cols.forEach(function(row){ -%>
            <div class="<%= 'col' + data.btn.colsCount %>"><%_ %>
            <%_ row.forEach(function(col){ -%>
                <%_ if(col.fieldType == "text"){ -%>
                <le-input<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ -%>
                        <%_  %> placeholder = "<%= col.placeholder %>" <%_  -%>
                    <%_ } -%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<% col.labelWidth %>"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%= col.key %>"<%_  -%>
                    <%_ } -%>></le-input>
                <%_ } -%>
                <%_ if(col.fieldType == "select"){ -%>
                <le-local-select<%  _%>
                            <%_ if(col.placeholder && col.placeholder != ''){ _%>
                                <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                                <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.label && col.label != ''){ -%>
                                <%_  %> label="<%= col.label %>:"<%  -%>
                            <%_ } _%>
                            <%_ if(col.key && col.key != ''){ -%>
                                <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.dataSource && col.dataSource != ''){ -%>
                                <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayName && col.displayName != ''){ -%>
                                <%_  %> display-name="<%= col.displayName %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayValue && col.displayValue != ''){ -%>
                                <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                            <%_ } _%>></le-local-select>
                <%_ } -%>
                <%_ if(col.fieldType == "radioList"){ -%>
                <le-radio-list<%  _%>
                        <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                            <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.label && col.label != ''){ -%>
                            <%_  %> label="<%= col.label %>:"<%  -%>
                        <%_ } _%>
                        <%_ if(col.key && col.key != ''){ -%>
                            <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.dataSource && col.dataSource != ''){ -%>
                            <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayName && col.displayName != ''){ -%>
                            <%_  %> display-name="<%= col.displayName %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayValue && col.displayValue != ''){ -%>
                            <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                        <%_ } _%>></le-radio-list>
                <%_ } -%>
                <%_ if(col.fieldType == "checkboxList"){ -%>
                <le-checkbox-list<%  _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.dataSource && col.dataSource != ''){ -%>
                        <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayName && col.displayName != ''){ -%>
                        <%_  %> display-name="<%= col.displayName %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayValue && col.displayValue != ''){ -%>
                        <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                    <%_ } _%>></le-checkbox-list>
                <%_ } -%>
                <%_ if(col.fieldType == "datepicker"){ -%>
                <le-date-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>></le-date-picker>
                <%_ } -%>
                <%_ if(col.fieldType == "timepicker"){ -%>
                <le-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>></le-time-picker>
                <%_ } _%>
                <%_ if(col.fieldType == "dateTimepicker"){ -%>
                <le-date-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>
                ></le-date-time-picker>
                <%_ } _%>
            <%_ }) _%>
            </div>
        <%_ _%><% }) -%>
        </div>
        <div class="le_search_btn_group cleatfix">
        <%_ data.btn.btns.forEach(function(item){ -%>
            <le-button type="<%= item.btnType %>" value="<%= item.btnName %>" @click="<%= item.btnHandle %>"></le-button>
        <%_ }) _%>
        </div>
        <div class='le_table_container'>
            <table-list title="<%= data.btn.tableTitle %>" ref='black_list_table' :options='tableOptions'></table-list>
        </div>
    </div>
</template>
<script>
import <%= data.commonUtil.name %> from '<%= data.commonUtil.filePath %>';

export default {
    name:"",
    data(){
        return {
            // 搜索条件
            searchModel:{
                <%_ data.cols.forEach(function(row){ -%>
                    <%_ row.forEach(function(col){ -%>
                        <%_ if(col.key && col.key != ""){ -%>
                            <%_ %>                <%= col.key %> : "",
                        <%_ } -%>
                    <%_ }) -%>
                <%_ }) -%>
            },
            // 表格的配置
            optionsTable:<%- JSON.stringify(data.tableOptions) %>
        }
    },
    computed:{

    },
    methods:{
        <%_ data.btn.btns.forEach(function(item){ -%>
        <%= item.btnHandle %>(){
            // <%= item.btnName %>按钮操作事件
        },
        <%_ }) -%>
    },
    mounted(){
        
    }
}
</script>
<style scoped>
    
</style>
