<template>
    <div>
    <%_ _%><%- include(data.viewFolderPath + "/form",{data:data.form.cols,isSavePage : true}) %>
    </div>
</template>
<script>
import CommonUtil from '@util';
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapActions,mapMutations } = createNamespacedHelpers('<%= moduleName %>Store');
export default {
    name:"<%= data.pageName %>",
    data(){
        return {
           
        }
    },
    computed:{
        ...mapState(["selectDataSource","entity"])
    },
    mounted(){
        this.getDetail();
    },
    methods:{
        ...mapActions([
            "doCreate",
            "getInfo",
            "doUpdate",
    <%_ data.form.cols.forEach(function(col){ -%>
        <%_ if(col.type == "select" || col.type == "radioList" || col.type == "checkboxList"){ -%>
            "get<%= col.dataSource -%>",
        <%_ } -%>
    <%_ }) -%>
        ]),
        save(){
            if(this.$route.tag == "create"){
                this.doCreate({
                    context:this,
                    cb:(d)=>{

                    }
                })
            }
            if(this.$route.tag == "update"){
                this.doUpdate({
                    context:this,
                    cb:(d) => {

                    }
                })
            }
        },
        getDetail(){
            this.getInfo({
                context:this,
                params:{

                }
            })
        },
        goBack(){
            this.$router.go(-1);
        },
    },
    mounted(){
    <%_ data.form.cols.forEach(function(col){ -%>
        <%_ if(col.type == "select" || col.type == "radioList" || col.type == "checkboxList"){ -%>
            this.get<%= col.dataSource -%>()";
        <%_ } -%>
    <%_ }) -%>
    }
}
</script>
<style scoped>
    
</style>
    