<template>
    <div class="le_comps_core_css new_page_width">
        <h4 class="le_page_name"><%= data.pageName %></h4>
    <%_ _%><%- include(data.viewFolderPath + "/form",{data:data.form.cols,isSavePage : true}) %>
        <div class="le_new_page_btn_group">
            <le-button type = "back" value = "返回" @click = "goBack"></le-button>
            <le-button type = "save" value = "保存" @click = "save"></le-button>
        </div>
    </div>
</template>
<script>
import CommonUtil from '@util';
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapActions,mapMutations } = createNamespacedHelpers('<%= moduleName %>Store');
export default {
    name:"<%= data.pageName %>",
    data(){
        return {
           
        }
    },
    computed:{
        ...mapState(["selectDataSource","entity"]),
        isEdit(){
            return this.$route.params.tag == "edit";
        },
        isCreate(){
            return this.$route.params.tag == "create";
        },
        isInfo(){
            return this.$route.params.tag == "info";
        },
    },
    methods:{
        ...mapActions([
            "doCreate",
            "getInfo",
            "doUpdate",
    <%_ data.action.forEach(function(actionName){ -%>
            "<%= actionName -%>",
    <%_ }) -%>
        ]),
        save(){
            if(this.$route.tag == "create"){
                this.doCreate({
                    context:this,
                    cb:(d)=>{

                    }
                })
            }
            if(this.$route.tag == "update"){
                this.doUpdate({
                    context:this,
                    cb:(d) => {

                    }
                })
            }
        },
        getDetail(){
            this.getInfo({
                context:this,
                params:{

                }
            })
        },
        goBack(){
            this.$router.go(-1);
        },
    },
    mounted(){
    <%_ data.action.forEach(function(actionName){ -%>
            this.<%= actionName -%>();
    <%_ }) -%>
        this.$refs.saveForm.reset();
        if(this.isEdit && this.isInfo){
            this.getDetail();
        }
    }
}
</script>
<style scoped>
    
</style>
    